<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dasol.mapper.ApiMapper">
	<insert id="insertApi" parameterType="list">
		insert into camping_api values
		<foreach item="campingApiVO" index="index" collection="list" open="" separator="," close="">
		(#{campingApiVO._id}
		, #{campingApiVO.name}
		, #{campingApiVO.addrNumber}
		, #{campingApiVO.addrRoad}
		, #{campingApiVO.price}
		, #{campingApiVO.classify}
		, #{campingApiVO.facilities}
		, #{campingApiVO.safetyfacilities}
		, #{campingApiVO.operatingTime}
		, #{campingApiVO.management}
		, #{campingApiVO.telM}
		, #{campingApiVO.telC}
		, #{campingApiVO.architectureArea}
		, #{campingApiVO.siteArea}
		, #{campingApiVO.siteCnt}
		, #{campingApiVO.parkingCnt}
		, #{campingApiVO.longitude}
		, #{campingApiVO.latitude}
		, #{campingApiVO.maxpersonCnt}
		, #{campingApiVO.etc}
		, #{campingApiVO.updatedate}
		, #{campingApiVO.idx_id})
		</foreach>
	</insert>
	
	<insert id="insertIdx" parameterType="list">
		insert into idx_table values
		<foreach item="indexVO" index="index" collection="list" open="" separator="," close="">
		(#{indexVO.idx_id}
		, #{indexVO.citycode}
		, #{indexVO.classifycode}
		, #{indexVO.cityname}
		, #{indexVO.classifyname})
		</foreach>
	</insert>
	
</mapper>