<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dasol.mapper.ReplyMapper">
	
	<insert id="create">
		insert into reviews(email, cno, content, star) values (#{email}, #{cno}, #{content}, #{star})
	</insert>
	
	<delete id="delete">
		delete from reviews where rno = #{rno};
	</delete>
	
	<update id="update">
		update reviews set content = #{content}, star = #{star}, updatedate = now() where rno = #{rno};
	</update>
	
	<select id="getList" resultType="ReplyVO">
		select r.*, m.nick from reviews r join member m on r.email = m.email 
		where cno = #{cno} order by rno desc limit #{cri.pageStart}, #{cri.perPageNum};	
	</select>
	
	<select id="count" resultType="int">
		select ifnull(count(rno),0) from reviews where cno = #{cno}
	</select>
	
	<select id="avg" resultType="double">
		select ifnull(avg(star),0) from reviews where cno = #{cno}
	</select>
</mapper>