<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dasol.mapper.ReviewdMapper">
	
	<select id="getCampingInfo" resultType="CampingApiVO">
		SELECT B.CITYNAME, B.CLASSIFYNAME, A.*
		FROM
			(SELECT * 
			FROM CAMPING_API
			WHERE name = #{name}
			) A
		JOIN 
			(SELECT IDX_ID, CITYNAME, CLASSIFYNAME 
			FROM IDX_TABLE 
			ORDER BY IDX_ID) B
		ON A.IDX_ID = B.IDX_ID
	</select>
	
	<select id="getCityName" resultType="Map">
		SELECT citycode, cityname FROM IDX_TABLE WHERE CITYCODE > 0 GROUP BY CITYCODE;
	</select>
	
	<select id="getClassifyName" resultType="Map">
		SELECT classifycode, classifyname FROM IDX_TABLE WHERE CLASSIFYCODE > 0 GROUP BY CLASSIFYCODE;
	</select>
	
	<select id="search" resultType="CampingApiVO">
		SELECT A.CITYNAME, A.CLASSIFYNAME, B.*
		FROM 
			(SELECT IDX_ID, CITYNAME, CLASSIFYNAME 
			FROM IDX_TABLE 
			WHERE 1=1 
			<include refid="searchCondition"></include>  
			ORDER BY IDX_ID) A
		JOIN 
			(SELECT _ID, NAME, IDX_ID 
			FROM CAMPING_API
			<if test="sort != null and sort != ''">
				ORDER #{sort}
			</if>
			) B
		ON A.IDX_ID = B.IDX_ID
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<select id="searchCount" resultType="int">
		SELECT COUNT(B._ID) 
		FROM 
			(SELECT IDX_ID
			FROM IDX_TABLE 
			WHERE 1=1 
			<include refid="searchCondition"></include>  
			ORDER BY IDX_ID) A
		JOIN 
			(SELECT _ID, IDX_ID
			FROM CAMPING_API) B
		ON A.IDX_ID = B.IDX_ID
	</select>

	<sql id="searchCondition">
		<if test="city != null and city != ''">
			AND CITYCODE = #{city}
		</if>
		<if test="category != null and category != ''">
			AND CLASSIFYCODE = #{category}
		</if>
	</sql>
</mapper>